<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Motion Sensor Permission -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <!-- Features Required -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="true"/>

    <application>
        <activity android:name="com.unity3d.player.UnityPlayerGameActivity"
                  android:theme="@style/BaseUnityGameActivityTheme"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
                  android:screenOrientation="sensor">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="unityplayer.UnityActivity" android:value="true"/>
            <meta-data android:name="android.app.lib_name" android:value="game"/>
        </activity>
    </application>
</manifest>
